


<hr>

<div class="price-grid-container">
  <table class="price-grid-table">
    <thead>

      <tr>
        <th  [attr.rowspan]="uniqueHeights.length">WIDTHTO</th>
        
        <th *ngFor="let width of uniqueWidths; let j = index">
          {{ j === 0 ? width + '"' : width }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let height of uniqueHeights; let i = index" [class.highlight-row]="i % 2 === 1">
        <td>
          <div class="height-to-container">
            <div *ngIf="i === uniqueHeights.length/2" class="height-to-text">
              HEIGHT TO
            </div>
            <div class="height-value">
              {{ i === 0 ? height + '"' : height }}
            </div>
        </div>    
          
        </td>
  <!--  <tbody>
      <tr *ngFor="let height of uniqueHeights; let i = index" [class.highlight-row]="i % 2 === 1">
        <td>
          <div *ngIf="i == uniqueHeights.length/2" class="vertical-header" [attr.rowspan]="uniqueHeights.length">
            Height To
          </div>
          <div>
            {{ height }}" 
          </div>
        </td>-->
        <td *ngFor="let width of uniqueWidths; let j = index">
          {{ (i === 0 && j === 0) ? ('$' + getPrice(height, width)) : getPrice(height, width) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
